.game {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    &__line {
        width: 1200px;
        height: 70px;
        background: #EFEFEF99;
        border-radius: 50px;

        &__line {
            height: 100%;
            width: 1px;
            background: #ffbc03;
        }

        &__process {
            height: 70px;
            background: #3300FF;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
            text-align: center;
            color: rgb(9, 255, 0);
        }
    }

    &__box {
        display: flex;
        flex-direction: row;
        &__threshold-points{
            margin: 0 10px;
        }
    }
}