.game {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    span {
        opacity: 50%;
    }

    &__box {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        &__stages {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;



            &__threshold {
                &__star-image {
                    width: 18px;
                }

                &__star-contrast-image {
                    width: 18px;
                }

                &__large-star {
                    width: 26px;
                }

                &__cup {
                    width: 50px;
                }
            }

        }

        &__threshold-points {
            margin: 0 10px;


        }
    }

    &__line {
        width: 1200px;
        height: 70px;
        background: #EFEFEF99;
        border-radius: 50px;
        display: flex;
        overflow: hidden;

        &__process {
            background: #3300FF;
            height: 100%;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
        }
    }
}