.game {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

    &__line {
        width: 1200px;
        height: 70px;
        background: #EFEFEF99;
        border-radius: 50px;
        display: flex;
        overflow: hidden;

        &__process {
            background: #3300FF;
            height: 100%;
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
        }
    }

    &__box {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        &__threshold-points {
            margin: 0 10px;
            opacity: 50%;

            img {
                width: 20px;
            }
        }
    }
}